@import url('https://fonts.cdnfonts.com/css/dk-lemon-yellow-sun');                
@import url('https://fonts.cdnfonts.com/css/helvetihand');

body {
    background: rgb(173,255,218);
    background: linear-gradient(218deg, rgba(173,255,218,1) 0%, rgba(9,78,76,1) 100%);  
    font-family: 'DK Lemon Yellow Sun', sans-serif;
}